<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    
    <div id="logo" class="fl_left">
      <h1><a href="/">OIO</a></h1>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><strong>Jean Claude:</strong><br>
          +261 034 60 813 51</li>
        <li><strong>RAKOTONARIVO:</strong><br>
          +00 00 00 000 00</li>
      </ul>
    </div>
    
  </header>
</div>
