<div class="wrapper row2">
  <nav id="mainav" class="hoc clear"> 
    
    <ul class="clear">
      <li class="active"><a href="/">Home</a></li>
      <li><a class="drop" href="#">Pages</a>
        <ul>
          <li><a href="pages/gallery">Gallery</a></li>
          <li><a href="pages/full_width">Full Width</a></li>
          <li><a href="pages/sidebar_left">Sidebar Left</a></li>
          <li><a href="pages/sidebar_right">Sidebar Right</a></li>
          <li><a href="pages/basic_grid">Basic Grid</a></li>
        </ul>
      </li>
      <li><a class="drop" href="#">Publication</a>
        <ul>
          <li><a href="publications/new">nouvel publication</a></li>
          <li><a class="drop" href="/publications">Liste des publication</a>
            <ul>
              <li><a href="#">premier pub</a></li>
              <li><a href="#">dexieme pub</a></li>
              <li><a href="#">troisieme pub</a></li>
            </ul>
          </li>
          <li><a href="#">Level 2</a></li>
        </ul>
      </li>
      <li><a href="#">Link Text</a></li>
      <li><a href="#">Link Text</a></li>
      <li><a href="#">Link Text</a></li>
      <li><a href="#">Long Link Text</a></li>
    </ul>
    
  </nav>
</div>
